[submodule "vendor/fastText"]
	path = vendor/fastText
	url = https://github.com/facebookresearch/fastText.git
[submodule "vendor/sentencepiece"]
	path = vendor/sentencepiece
	url = https://github.com/google/sentencepiece.git
